<div class="main-page">
  <div class="navbar">
    <div class="logo-area">
      <h2>Insert Logo Here</h2>
    </div>
    <div class="header-area">
      <h1>Users</h1>
    </div>
    <div class="links-area">
      <h2>Insert Links Here</h2>
    </div>
  </div>
  <div class="body-area">
    <div class="user-container">
      <app-user *ngFor="let user of userlist" 
      userid="{{user.id}}" name="{{user.name}}" username="{{user.username}}"
      password="{{user.password}}" department="{{user.department}}"/>
    </div>
  </div>
  <div class="footer">
    <h2>Footer area</h2>
  </div>
</div>
