.useradd-card {
    min-width: 200px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 8px;
    margin: 0px;
    padding: 20px;
    transition: ease 0.25s;
    background-color: aliceblue;
}

.useradd-card:hover {
    -webkit-transform: scale(1.05);
}

.form-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-area > input {
    background-color: white;
    outline-style: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    transition: ease 0.25s;
}

.form-area > input:focus-within {
    -webkit-transform: scale(1.05);
}

.submit-btn {
    padding: 5px;
    background-color: rgb(2, 196, 2);
    border: none;
    border-radius: 5px;
    color: aliceblue;
    font-weight: bold;
    font-size: 14px;
    width: 60%;
    align-self: center;
    transition: ease 0.25s;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: rgb(2, 173, 2);
    -webkit-transform: scale(1.05);
}