.user-card {
    min-width: 200px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 8px;
    margin: 0px;
    padding: 20px;
    transition: ease 0.25s;
    background-color: aliceblue;
}

.user-card:hover {
    -webkit-transform: scale(1.05);
}

.card-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.card-contents > h3,h4 {
    margin: 0px;
    padding: 5px;
}

.header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.del-btn {
    padding: 6px;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: aliceblue;
    font-weight: bold;
    font-size: 15px;
    transition: ease 0.25s;
}
.del-btn:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    background-color: rgb(188, 2, 2);
}

.del-btn:active {
    -webkit-transform: scale(1.15);
    background-color: rgb(157, 2, 2);
}